* {
  box-sizing: border-box;
}

.login-modalw, .register-modalw {
  width: 416px;
}

.login-modalw > div {
  height: 408px;
  padding: 41px 33px 0 33px;
}

.register-modalw > div {
  height: 694px;
  padding: 41px 33px 0 33px;
}

body{
  background: #EFEFEF;
}